/*
* Colors defaults.
*/
$bg-color:          #000 !default;
$text-color:        #C8D6E5 !default;
$text-color-alt:    #8395A7 !default;
$primary:           #1DD1A1 !default;

/*
* Breakpoints settings
*/